.titleImg {
    width: 100%;
    margin-bottom: .5rem;
}

.container {
    margin-bottom: 2rem;
    box-sizing: border-box;
}

h1{
    text-align: right;
    margin-top: 10%;
}

hr{
    margin: 5rem 0;
    margin-top: 0;
}